body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
               monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1f24;
  color: white;
  font-size: 12px;
}

div.last-hour {
  color: #6a6a6a;
}

div.last-two-hours {
  color: #959595;
}

div.last-day{
  color: #b1b1b1;
}

div.last-week{
  color: #ddd;
}

span.pending, span.commented {
  color: #dbab09;
}

span.dismissed {
  color: #737373;
}

span.issue-commented {
  color: #ffe51a;
}

span.success, span.approved {
  color: #22863a;
}

span.failed, span.changes-requested {
  color: red;
}

a {
  color: #49a29f;;
}

.settings-form {
  align-items: center;
  justify-content: left;
  height: inherit;
  margin: 0% 10% 0% 10%;
}

.settings-form input[id=polling-interval] {
  width: auto;
}

.settings-form input[type=text],
.settings-form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.settings-form input[type=submit] {
  transition-duration: 0.1s;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  width: 100%;
  margin-top: 40px;
  padding: 12px 28px;
}

.settings-form input[type=submit]:hover,
.settings-form input[type=submit]:focus {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.settings-form label {
  display: block;
}

.settings-form input[type=text]:focus,
.settings-form input[type=number]:focus,
.settings-form input[type=password]:focus {
  border: 3px solid #555;
}
